// Indie author awards css - Matthew Cobb

@import '_base.scss';

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
}

// ************************
// Header
// ************************

.turq{
  background: $color-turq;
  z-index: 0;
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg{
  position: relative;
  width: 100%;
  overflow: hidden;
  background: url('../img/m.jpg') center bottom;
    @media (min-width:$bp-small) {
      background: url('../img/l.jpg') center bottom;
    }
    @media (min-width:$bp-xx-large) {
      background: url('../img/xl.jpg') center bottom;
    }
}

.hero{
  height: 360px;
  overflow: hidden;
  text-align: center;
    @media (min-width:$bp-small) {
      height:480px;
    }

  .logo{
    margin:20px 0px 40px 0px;
      @media (min-width:$bp-small) {
        margin:40px 0px 70px 0px;
      }
  }

  h1{
    color:$color-white;
    text-align: center;
    margin:0px 0px 5px 0px;
      @media (min-width:$bp-small) {
        font-size: 50px;
      }
  }

  h2{
    color:$color-white;
    text-align: center;
      @media (min-width:$bp-x-small) {
        font-size: 18px;
      }
  }

  h3{
    color:$color-dark-turq;
    text-align: center;
    margin:30px 0 20px 0;
      @media (min-width:$bp-small) {
        font-size: 18px;
        margin:60px 0 30px 0;
      }
  }

  a {
    font-size:20px;
    color: $color-turq;
  }

  .btn-default{
    border:0px;
    width:100%;
    height: 50px;
    padding: 12px 0px 12px 0px;
      @media (min-width:$bp-small) {
        width:200px;
      }

      &:hover{
        background: $color-light-grey;
        color: $color-turq;}
  }

}

// ************************
// Main content
// ************************

.main-section{
  h1{
    font-size:20px;
    color:$color-turq;
    margin: 30px 0px 10px 0px;
      @media (min-width:$bp-small) {
        font-size: 28px;
        margin:60px 0 10px 0;
      }
  }

  h2{
    font-size:16px;
    margin-bottom: 30px;
      @media (min-width:$bp-small) {
        font-size: 18px;
        line-height: 28px;
      }
  }
}

.bookaward{
  background: $color-turq;
  margin:0px 15px 15px 15px;
  border-radius: 5px;
  padding: 15px;
  width:85%;
    @media (min-width:$bp-medium) {
      display: none;
    }

  h1{
    color:$color-white;
    font-size:20px;
  }

  h2{
    color:$color-white;
  }

  img{
    position: absolute;
    right:-10%;
    top:-14px;
  }
}

.category{
  ul{
    margin: 0px 15px 0px 15px;
    padding: 0px;
    list-style: none;
      @media (min-width:$bp-medium) {
        margin:0px 30px 0px 30px;
      }
  }
  li{
    margin-top: 15px;
  }
  img{
    display: none;
    margin-top:15px;
      @media (min-width:$bp-medium) {
        display: block;
      }
    }
}

.divide{
  width: 100%;
  height: 2px;
  margin-top:30px;
  margin-bottom: 30px;
  background: $color-light-grey;
    @media (min-width:$bp-small) {
      width:50%;
      margin-left:25%;
    }
}

.altsection{
  .innerbox{
    border:2px solid $color-light-grey;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  h1{
    margin: 15px;
    padding: 13px;
    background: $color-turq;
    border-radius: 50%;
    width:50px;
    height:50px;
    display:inline-block;
    font-size: 20px;
    color: $color-white;
    font-family: 'Lato', sans-serif;
      @media (min-width:$bp-x-small) and (max-width:$bp-medium) {
        display: none;
      }
  }

  h2{
    display:inline-block;
    font-family: 'Glegoo', serif;
    font-weight: 400;
    font-size: 20px;
    color: $color-turq;
     @media (min-width:$bp-x-small) and (max-width:$bp-medium) {
        margin: 15px;
      }
  }

  h3{
    margin: 0px 15px 15px 15px;
    font-size: 16px;
  }

  h4{
    margin: 30px 15px 30px 15px;
    font-family: 'Glegoo', serif;
    font-weight: 400;
    font-size: 20px;
    color: $color-turq;
  }

  a{
    margin:0px 10px 15px 15px;
  }

  .icon{
    position: relative;
    background: $color-light-grey;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
      @media (min-width:$bp-m-large) {
        height:250px;
      }

    .avatar{
      max-width:100%;
    }

  }
}

// ************************
// Footer
// ************************

.footer{
  background: $color-turq;
  height: 250px;
  margin-top: 60px;
  text-align: center;
    @media (min-width:$bp-x-small) {
      height:300px;
    }
    @media (min-width:$bp-small) {
      height:350px;
    }

  h1{
    color:$color-white;
    text-align: center;
    margin:60px 0px 5px 0px;
     @media (min-width:$bp-x-small) {
        font-size: 35px;
        margin:70px 0px 5px 0px;
      }
      @media (min-width:$bp-small) {
        font-size: 50px;
         margin:80px 0px 5px 0px;
      }
  }
  h2{
    color:$color-white;
    text-align: center;
    margin-bottom: 30px;
      @media (min-width:$bp-x-small) {
        font-size: 18px;
      }
  }

  a {
    font-size:20px;
    color: $color-turq;
  }

  .btn-default{
    border:0px;
    width:100%;
    height: 50px;
    padding: 12px 0px 12px 0px;
      @media (min-width:$bp-x-small) {
          width:200px;
          margin-top:20px;
      }
    }

  .btn-default:hover{
    background: $color-light-grey;
    color: $color-turq;
  }

}

.contact{
  background: $color-light-turq;
  height: 220px;
  text-align: center;

  h1,a{
    color:$color-white;
    text-align: center;
    font-size: 20px;
    margin:60px 0px 5px 0px;
     @media (min-width:$bp-x-small) {
        font-size: 28px;
        margin:70px 0px 5px 0px;
      }
      @media (min-width:$bp-small) {
        font-size: 40px;
         margin:80px 0px 5px 0px;
      }
  }
  h2{
    color:$color-white;
    text-align: center;
    margin-bottom: 30px;
      @media (min-width:$bp-x-small) {
        font-size: 18px;
      }
  }
}

.footnote{
  background: $color-black;
  height: 50px;
  text-align: center;
  padding: 12px;

  h2{
    color: $color-light-grey;
    text-align: center;
    display: inline-block;
    font-weight: 300;
  }
  a{
    color: $color-light-grey;
    text-align: center;
    display: inline-block;
  }
}

.nav-alt{
  position: relative;
  height: 55px;
  background: $color-turq;
  width: 100%;

  .alt-title{
    color: $color-white;
    padding: 12px;
    clear:both;
    position: absolute;
    font-family: 'Glegoo', serif;
    font-weight: 400;
    font-size: 20px;
  }

  .logout{
    float: right;
    clear: both;
    margin: 6px;
  }
}

.upload{
  max-width: 500px;
}

.uploadform{
  margin-bottom:60px;
}

.congrats{
  margin-top: 60px;
  width:100px; height:100px;
     @media (min-width:$bp-small) {
        width:250px; height: 250px;
      }
}

.center{
  text-align: center;
}
