@import url(http://fonts.googleapis.com/css?family=Glegoo:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic);
/* ===========================================================
File: Media query breakpoints
Author: Matthew Cobb
/* ===========================================================*/
@media (min-width: 768px) {
  /* line 19, /Users/Jonkob/Code/indie/sass/breakpoints.scss */
  .container {
    width: 750px; }
 }

@media (min-width: 992px) {
  /* line 24, /Users/Jonkob/Code/indie/sass/breakpoints.scss */
  .container {
    width: 940px; }
 }

@media (min-width: 1200px) {
  /* line 29, /Users/Jonkob/Code/indie/sass/breakpoints.scss */
  .container {
    width: 940px; }
 }

/* line 4, /Users/Jonkob/Code/indie/sass/typography.scss */
h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  padding: 0; }

/* line 9, /Users/Jonkob/Code/indie/sass/typography.scss */
h1 {
  font-family: 'Glegoo', serif;
  font-weight: 400;
  font-size: 28px; }

/* line 15, /Users/Jonkob/Code/indie/sass/typography.scss */
h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px; }

/* line 3, /Users/Jonkob/Code/indie/sass/nav.scss */
.navbar-default {
  background-color: #13D7B8;
  border: none; }
  /* line 7, /Users/Jonkob/Code/indie/sass/nav.scss */
  .navbar-default .navbar-text {
    color: #fff; }
  /* line 12, /Users/Jonkob/Code/indie/sass/nav.scss */
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    text-align: center;
    background: #128974;
    font-family: 'Lato', sans-serif;
    font-size: 20px; }
    @media (min-width: 768px) {
      .navbar-default .navbar-nav > li > a {
        background: none;
        font-size: 14px; } }
    /* line 24, /Users/Jonkob/Code/indie/sass/nav.scss */
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #128974;
      background-color: none; }
  /* line 32, /Users/Jonkob/Code/indie/sass/nav.scss */
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: none; }
  /* line 40, /Users/Jonkob/Code/indie/sass/nav.scss */
  .navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    color: #fff;
    background-color: none; }
  /* line 47, /Users/Jonkob/Code/indie/sass/nav.scss */
  .navbar-default .navbar-toggle {
    border: none; }
    /* line 50, /Users/Jonkob/Code/indie/sass/nav.scss */
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #128974; }
    /* line 53, /Users/Jonkob/Code/indie/sass/nav.scss */
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
  /* line 59, /Users/Jonkob/Code/indie/sass/nav.scss */
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none; }
  /* line 69, /Users/Jonkob/Code/indie/sass/nav.scss */
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: none;
    color: #fff; }
  @media (max-width: 786px) {
    /* line 78, /Users/Jonkob/Code/indie/sass/nav.scss */
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #fff; }
      /* line 81, /Users/Jonkob/Code/indie/sass/nav.scss */
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: none; }
      /* line 88, /Users/Jonkob/Code/indie/sass/nav.scss */
      .navbar-default .navbar-nav .open .dropdown-menu > li > a > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a > .active > a:focus {
        color: #fff;
        background-color: none; }
      /* line 96, /Users/Jonkob/Code/indie/sass/nav.scss */
      .navbar-default .navbar-nav .open .dropdown-menu > li > a > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a > .disabled > a:focus {
        color: #fff;
        background-color: none; }
 }

/* line 8, /Users/Jonkob/Code/indie/sass/main.scss */
html {
  width: 100%;
  height: 100%; }

/* line 13, /Users/Jonkob/Code/indie/sass/main.scss */
body {
  width: 100%;
  height: 100%; }

/* line 18, /Users/Jonkob/Code/indie/sass/main.scss */
.burger {
  position: absolute;
  z-index: 2;
  width: 30px;
  top: 15px;
  height: 21px; }
  @media (min-width: 768px) {
    .burger {
      display: none; } }

/* line 29, /Users/Jonkob/Code/indie/sass/main.scss */
.hero {
  background: #13D7B8;
  height: 360px;
  text-align: center; }
  @media (min-width: 500px) {
    .hero {
      height: 400px; } }
  @media (min-width: 600px) {
    .hero {
      height: 500px; } }
  /* line 40, /Users/Jonkob/Code/indie/sass/main.scss */
  .hero .logo {
    margin: 40px 0px 40px 0px; }
    @media (min-width: 500px) {
      .hero .logo {
        margin: 60px 0px 60px 0px; } }
    @media (min-width: 600px) {
      .hero .logo {
        margin: 70px 0px 70px 0px; } }
  /* line 50, /Users/Jonkob/Code/indie/sass/main.scss */
  .hero h1 {
    color: #fff;
    text-align: center;
    margin: 0px 0px 5px 0px; }
    @media (min-width: 500px) {
      .hero h1 {
        font-size: 35px; } }
    @media (min-width: 600px) {
      .hero h1 {
        font-size: 50px; } }
  /* line 61, /Users/Jonkob/Code/indie/sass/main.scss */
  .hero h2 {
    color: #fff;
    text-align: center; }
    @media (min-width: 500px) {
      .hero h2 {
        font-size: 18px; } }
  /* line 69, /Users/Jonkob/Code/indie/sass/main.scss */
  .hero h3 {
    color: #128974;
    text-align: center;
    margin: 30px 0 20px 0; }
    @media (min-width: 500px) {
      .hero h3 {
        font-size: 18px;
        margin: 20px 0 20px 0; } }
    @media (min-width: 600px) {
      .hero h3 {
        font-size: 18px;
        margin: 40px 0 30px 0; } }
  /* line 83, /Users/Jonkob/Code/indie/sass/main.scss */
  .hero a {
    font-size: 16px;
    color: #13D7B8; }
  /* line 88, /Users/Jonkob/Code/indie/sass/main.scss */
  .hero .btn-default {
    border: 0px;
    width: 100%;
    padding: 12px 0px 12px 0px; }
    @media (min-width: 500px) {
      .hero .btn-default {
        width: 200px; } }

/* line 100, /Users/Jonkob/Code/indie/sass/main.scss */
.main-section h1 {
  font-size: 20px;
  color: #13D7B8;
  margin: 30px 0px 10px 0px; }
  @media (min-width: 600px) {
    .main-section h1 {
      font-size: 28px;
      margin: 60px 0 10px 0; } }
/* line 109, /Users/Jonkob/Code/indie/sass/main.scss */
.main-section h2 {
  font-size: 16px; }
  @media (min-width: 600px) {
    .main-section h2 {
      font-size: 20px;
      line-height: 28px; } }

/* line 118, /Users/Jonkob/Code/indie/sass/main.scss */
.navbar {
  margin-bottom: 0px;
  background: #13D7B8;
  border: none;
  border-radius: 0px; }

@media (min-width: 768px) {
  /* line 126, /Users/Jonkob/Code/indie/sass/main.scss */
  .navbar ul {
    float: right; }
 }

/* line 131, /Users/Jonkob/Code/indie/sass/main.scss */
.navbar-header {
  border-bottom: none; }

/*# sourceMappingURL=main.css.map */
