/* line 3, /Users/Jonkob/Code/indie/sass/nav.scss */
.navbar-default {
  background-color: #13D7B8;
  border: none; }
  /* line 7, /Users/Jonkob/Code/indie/sass/nav.scss */
  .navbar-default .navbar-text {
    color: #fff; }
  /* line 12, /Users/Jonkob/Code/indie/sass/nav.scss */
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    background-color: #128974; }
    /* line 17, /Users/Jonkob/Code/indie/sass/nav.scss */
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #128974;
      background-color: none; }
  /* line 25, /Users/Jonkob/Code/indie/sass/nav.scss */
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: none; }
  /* line 33, /Users/Jonkob/Code/indie/sass/nav.scss */
  .navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    color: #fff;
    background-color: none; }
  /* line 40, /Users/Jonkob/Code/indie/sass/nav.scss */
  .navbar-default .navbar-toggle {
    border: none; }
    /* line 43, /Users/Jonkob/Code/indie/sass/nav.scss */
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: none; }
    /* line 46, /Users/Jonkob/Code/indie/sass/nav.scss */
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }
  /* line 52, /Users/Jonkob/Code/indie/sass/nav.scss */
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none; }
  /* line 62, /Users/Jonkob/Code/indie/sass/nav.scss */
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: none;
    color: #fff; }
  @media (max-width: 786px) {
    /* line 72, /Users/Jonkob/Code/indie/sass/nav.scss */
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #fff; }
      /* line 75, /Users/Jonkob/Code/indie/sass/nav.scss */
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: none; }
      /* line 82, /Users/Jonkob/Code/indie/sass/nav.scss */
      .navbar-default .navbar-nav .open .dropdown-menu > li > a > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a > .active > a:focus {
        color: #fff;
        background-color: none; }
      /* line 90, /Users/Jonkob/Code/indie/sass/nav.scss */
      .navbar-default .navbar-nav .open .dropdown-menu > li > a > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a > .disabled > a:focus {
        color: #fff;
        background-color: none; }
 }

/*# sourceMappingURL=nav.css.map */
