@import '../_base';

//Indie author awards colours

$color-turq: #13D7B8;
$color-light-turq: #16C4A6;
$color-dark-turq: #128974;
$color-white: #fff;
$color-black: #4A4A4A;
$color-grey: #8D8D8D;
$color-light-grey: #F5F5F5;
