@import '../_base';

.navbar-default {
  border:none;
  background: none;


  .navbar-text {
    color: $color-white;
  }

  .navbar-nav {
    > li > a {
      color: $color-white;
      text-align: center;
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      @media (min-width:$bp-medium){
        background:none;
        font-size:14px;
      }

      &:hover,
      &:focus {
        color: $color-dark-turq;
        background-color:none;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $color-white;
        background-color:none;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $color-white;
        background-color:none;
      }
    }
  }

  .navbar-toggle {
    border:none;
    &:hover,
    &:focus {
      background-color: $color-dark-turq;
    }
    .icon-bar {
      background-color: $color-white;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border:none;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: none;
        color: $color-white;
      }
    }

    @media (max-width: 786px) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $color-white;
          &:hover,
          &:focus {
            color: $color-white;
            background-color: none;
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $color-white;
            background-color: none;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $color-white;
            background-color: none;
          }
        }
      }
    }
  }
  }
}

.navbar{
  margin-bottom: 0px;
  border:none;
  border-radius: 0px;
  background: none;

  ul{
    @media (min-width:$bp-medium) {
        float: right;
    }
  }

  li {
    padding:10px 0px 10px 0px;
    background: $color-dark-turq;
        @media (min-width:$bp-medium) {
          background: none;
        }
    }
}


.navbar-nav{
  margin:0px -15px 0px -15px;
}

.navbar-header{
  border-bottom:none;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px;
}

